{
    "presets": [
        "next/babel"
    ],
    "env": {
        "test": {
            "plugins": [
                "@babel/plugin-transform-modules-commonjs"
            ]
        }
    },
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }]
    ]
}